body {
    color: pink;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1{
    padding: 10px;
}

.player {
    text-align: center;
}

audio {
    max-width: 400px;
    margin-bottom: 20px;
}

.controls button {
    background-color: black;
    color: pink;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: pink;
    color: black;
}
